<script type="plain/text" id="character-saved">{{character}}</script>

<section id="in-game">
    <div class="title">
        <span>Play the game</span>
        <h2>Select your cells</h2>
    </div>

    <div class="container">
        <aside class="aside">
            <h2>How to play</h2>
            <p>
                You have <b>25</b> resources you have to place on the grid and then click on "I am ready".<br>
                Be strategic !
                <h3 id="resources-counter"><i>25</i> <span>resources left</span></h3>
            </p>
            <p class="button-container">
                <button id="start-game" class="game-button blocked">I am ready</button>
            </p>
        </aside>

        <section id="grille-cells" class="grille"></section>
    </div>
</section>