<section id="select-character">
    <div class="title">
        <span>Character selection</span>
        <h2>Choose your super hero</h2>
    </div>

    <ul>
        {{#each heroes}}
        <li id="{{id}}" data-char="{{char}}">
            <div class="cont">
                <div class="icon">
                    <h3>{{name}}</h3>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</section>