<div id="batman-shadow"></div>

<nav>
    <ul>
        <li id="play-online">Play online</li>
        <li id="display-rules">Rules</li>
        <li id="quit-experience">Quit</li>
    </ul>
</nav>

<!-- RULES -->
<section class="rules">
    <h2>What is heroes of life ?<span>Inspired by the conway's game of life</span></h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque cumque neque non molestiae? Veritatis, quibusdam delectus harum. Natus suscipit, obcaecati ullam itaque ipsum enim earum excepturi. Distinctio, aliquid tempora officia!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque cumque neque non molestiae? Veritatis, quibusdam delectus harum. Natus suscipit, obcaecati ullam itaque ipsum enim earum excepturi. Distinctio, aliquid tempora officia!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque cumque neque non molestiae? Veritatis, quibusdam delectus harum. Natus suscipit, obcaecati ullam itaque ipsum enim earum excepturi. Distinctio, aliquid tempora officia!
    </p>
</section>