<div class="notification-overlay"></div>
<div class="notification-container active">
    <div class="notification-box">
        <div class="notification">{{ message }}</div>
    </div>
    <button class="notification-button">{{ button }}</button>
</div>
