<section id="waiting">
    <section class="character-infos" id="superman-infos" data-active="true">
        <div class="container">
            <div class="character-preview"></div>
            <div class="character-title">
                <h3>Superman</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi maxime eum eius, iusto laudantium blanditiis, explicabo vel suscipit sit nemo quibusdam voluptatum aliquam vitae odio animi neque non qui error.</p>
            </div>
        </div>
    </section>

    <section class="character-infos" id="batman-infos" data-active="false">
        <div class="container">
            <div class="character-preview"></div>
            <div class="character-title">
                <h3>Batman</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi maxime eum eius, iusto laudantium blanditiis, explicabo vel suscipit sit nemo quibusdam voluptatum aliquam vitae odio animi neque non qui error.</p>
            </div>
        </div>
    </section>

    <section class="character-infos" id="flash-infos" data-active="false">
        <div class="container">
            <div class="character-preview"></div>
            <div class="character-title">
                <h3>Flash</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi maxime eum eius, iusto laudantium blanditiis, explicabo vel suscipit sit nemo quibusdam voluptatum aliquam vitae odio animi neque non qui error.</p>
            </div>
        </div>
    </section>

    <section class="character-infos" id="green-infos" data-active="false">
        <div class="container">
            <div class="character-preview"></div>
            <div class="character-title">
                <h3>Green Lantern</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi maxime eum eius, iusto laudantium blanditiis, explicabo vel suscipit sit nemo quibusdam voluptatum aliquam vitae odio animi neque non qui error.</p>
            </div>
        </div>
    </section>

    <div class="waiting-text">{{message}}</div>
</section>